{{#if href}}
  <a href="{{href}}" class="button {{buttonVariant variant}}">{{text}}</a>
{{else}}
  <button
    type="{{type}}"
    class="button {{buttonVariant variant}}"
  >{{text}}</button>
{{/if}}