<div class="dashboard-display">
  <div class="dashboard-display__content">
    <div class="dashboard-display__title">{{dashtitle}}</div>
    <div class="dashboard-display__adress">{{dashadress}}</div>
    <div class="dashboard-display__postal">{{dashpostal}}</div>
    <div class="dashboard-display__date">{{date}}</div>
  </div>
  <div class="dashboard-display__link">
    {{#if variant}}
      <img src="/assets/icons/{{variant}}.svg" alt="{{variant}} icon" class="dashboard-display__icon">
    {{else}}
      ›
    {{/if}}
</div>