<div class="dropdown">
  <select
    class="dropdown__content"
    name="{{name}}"
    id="{{id}}"
    required="{{required}}"
  >
    <option value="">{{placeholder}}</option>

    {{#each options}}
      <option class="dropdown__item" value="{{value}}">{{text}}</option>
    {{/each}}
  </select>
</div>