<div class="flex flex-col gap-xl">
    <h1>{{title}}</h1>
        <div class="flex flex-col gap-lg">
    {{>button href="/new-cleaning" text="Tilføj rengøring" variant="secondary"}}
    {{>seperator}}

{{#each logs}}

	<div class="button-box">
        <div>
		<div class="button-box__title">
             {{stations.companies.name}}
        </div>
            <div>
        <div class="button-box__adress">{{stations.address}}</div>
        <div class="button-box__postal">{{stations.postalCode}}, {{stations.city}}</div>
        <div class="button-box__postal">{{createdAtFormatted}}</div>
        </div>
        </div>
		<img src="../assets/icons/edit.svg" alt=""> {{!-- ændrer til pil --}}
	</div>

{{/each}}

</div>