<div class="flex flex-col gap-md">
  <form action="/users/{{user.id}}" method="POST" class="flex flex-col gap-lg">
    {{> labeledInput type="text" id="first-name" name="firstName" label="Fornavn" value=user.firstName required=true}}
    {{> labeledInput type="text" id="last-name" name="lastName" label="Efternavn" value=user.lastName required=true}}
    {{> labeledInput type="text" id="email" name="email" label="Email" value=user.email required=true}}
    {{> button type="submit" text="Gem"}}
  </form>
  <div class="grid grid-cols-2 gap-md">
    <form action="/users/{{user.id}}/delete" method="POST" onsubmit="return confirm('Er du sikker på at du vil slette denne bruger?')">
      {{> button type="submit" variant="destructive" text="Slet bruger"}}
    </form>
    {{> button variant="outline" href="/users" text="Annuller"}}
  </div>
  {{#each user.stations}}
    {{companies.name}}, {{address}}, {{postalCode}}
  {{/each}}
</div>