<p>{{message}}</p>

{{#each users}}

	<div>
		<div class="title"> {{firstName}} {{lastName}} </div>
		<div>icon</div>
	</div>

	{{!-- <p> {{firstName}} {{lastName}} har emailen: <br /> {{this.email}}</p> --}}

{{/each}}