{{! 
Dette er et for each loop hvor vi looper igennem et array, enten hard coded eller fra en database }}
{{#each products}}
    <p>Id:{{this.id}}</p>
    <p>Name:{{this.name}}</p>
    <p>Price:{{this.price}}</p>

    {{#if this.inStock}}
        <p>In Stock!</p>
    {{else}}
        <p> Not in stock </p>
    {{/if}}

    <p>-------------------------</p>

{{/each}}
{{!-- 
Kan kigge på noget der hedder partial views til næsæte gang hvis jeg keder mig --}}

<div class="flex flex-col gap-xl">
    <h1>{{title}}</h1>
        <div class="flex flex-col gap-lg">
    {{>button type="button" text="Tilføj produkter" variant="secondary"}}
            {{>dashboard-display dashtitle="Kalkfjerner" variant="edit"}}
        </div>
        <div class="flex flex-col gap-lg">
            {{>dashboard-display dashtitle="Bilvoks" variant="edit"}}
        </div>
        <div class="flex flex-col gap-lg">
            {{>dashboard-display dashtitle="Bilsæbe" variant="edit"}}
        </div>
    {{>footerNav}}
</div>