<div class="flex flex-col gap-xl"> 
    <h1>{{title}}</h1>
        <div class="flex flex-col gap-lg">
            {{>button href="/add-station" type="button" text="Tilføj station" variant="secondary"}}
            {{>button href="/addCompanies" type="button" text="Tilføj firma" variant="secondary"}}

            {{#each stations}}

                <a href="/stations/{{id}}" class="button-box">
                    
                    <div class="button-box__title-icon">
                        <div class="button-box__title">
                            {{companies.name}}
                        </div>
                        <img src="../assets/icons/edit.svg" alt="">
                    </div>
                
                    <div>
                        <div class="button-box__adress">{{address}}</div>
                        <div class="button-box__postal">{{postalCode}}, {{city}}</div>
                    </div>
                </a>

            {{/each}}

            {{>footerNav}}
        </div>
</div>